<%- include('./fragments/header.ejs') %>
    <main>
        <h2>Strona główna</h2>
        <h3>Witamy w Pruszkowie!</h3>
        <p>Początek historii lotniska w Pruszkowie sięga końców XIX wieku. W początkowym okresie lotnisko było zbudowane
            w celach militarnych. Było traktowane jako tymczasowe na czas wojny. Po wojnie lotnisko zostało
            wykupione przez prywatnego właściciela. Następnie rozpoczął się okres rozbudowy i modernizacji. W 2000 roku
            zostało dobudowane całe nowe skrzydło gastronomiczne oraz 7 nowych gate-ów. Pewna część lotnisko funkcjonuje
            dalej jako lotnisko towarowe, gdzie dostarczane są towary z całej Polski, które następnie transportowane są
            do pobliskich miast, miejscowości. Finalnie prace remontowe mają potrwać do stycznia 2022 roku.
        </p>
        <p>Na terenie lotniska obowiązuje całkowity zakaz spożywania alkoholu oraz palenie wyrobów tytoniowych.
            <img src="images/alkoh.jpg" alt="Papierosy" width="20" height="20">
            <img src="images/pap.jpg" alt="Alkohol" width="20" height="20">
        </p>
    </main>
    <%- include('./fragments/footer.ejs') %>